<h2>Posts</h2>
<input type="text" [(ngModel)]="searchTerm" placeholder="Search by title or body">
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" (click)="sort('id')">ID <i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('title')">Title <i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('body')">Body <i class="fa fa-sort"></i></th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts | orderBy: orderHeader : isDescOrder | filterPipe: searchTerm">
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
                <a routerLink="/posts/{{post.id}}">View Details</a>
                <button title="remove post" (click)="deletePost(post)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
